@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  & .row {
    display: flex;
    min-height: 20px;
    height: $row-height;
  }

  & .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    border: 1px solid $border-color;
    height: 100%;
    background: #88c3ee;
    border-top: none;
  }

  & .row-data {
    display: flex;

  }

  & .column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-left: none;
    border-top: none;
    background: #88c3ee;

  }

  & .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    border: 1px solid #c7c6c6;
    border-left: none;
    border-top: none;
    color: black;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid #0c4471;
      z-index: 2;
    }
  }
}